<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Transformational Experience</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<div class=page align="center">
  			<h1>Transformational Experience</h1>
  			<div class=metanav>

    			<h2>Enter your name and answer the following questions.</h2>

    			<form id='input' method='post' action='index'>
	  			<p>
					First Name: <input type='text' name='ticker' />
	  			</p>
	  			<p>
					<i>Have you had a Transformational Experience?:</i><br>
	  				<input type="checkbox" name='feat1' value='Open'>Yes<br>
					<input type="checkbox" name='feat2' value='Close'>No<br>
					<input type="checkbox" name='feat3' value='Range'>Maybe<br>
	  			</p>
	  			<p>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>
				</div>
		</div>
</html>
